body {
  box-sizing: border-box;
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 30px;
  width: 100px;
  height: 40px;
}

.image-box {
  margin-top: 50px;
}
.image-box img {
  height: 60px;
  display: block;
  margin: auto;
}

.current-day {
  text-align: center;
  font-size: 48px;
}
.current-day p {
  margin: 20px 0px;
}

#current-month {
  text-align: center;
  font-size: 30px;
  margin: 30px 0px;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar table {
  border-collapse: collapse;
}

th {
  width: 40px;
}
